$font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;

$big-ttl: 48px;
$x-lg: 36px;
$lg: 32px;
$sp-ttl-lg: 28px;
$little-lg-a: 26px;
$little-lg-b: 25px;
$little-lg-c: 22px;
$little-lg-d: 21px;
$big-md: 18px;
$md: 16px;
$sm: 14px;
$x-sm: 12px;

$bg: #FFFFFF;
$color: #1B224C;
$btn-bg: #F5A623;
$flow-line: #C3C3C3;
$flow-content-bg: #F8F8F8;
$news-archive-line: #D5D5D5;
$placeholder: #B4B4B4;


